@model AsmFinal.ViewModel.EnrollmentCourseViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit </h2>

@using (Html.BeginForm("Edit", "Topics", FormMethod.Post))
{
    @Html.HiddenFor(p => p.Enrollment.Id)
    @Html.LabelFor(p => p.Enrollment.Name)
    @Html.EditorFor(p => p.Enrollment.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(p => p.Enrollment.Name)
    @Html.LabelFor(p => p.Enrollment.EnrollmentDateStarted)
    @Html.EditorFor(p => p.Enrollment.EnrollmentDateStarted, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(p => p.Enrollment.EnrollmentDateStarted)
    @Html.LabelFor(p => p.Enrollment.EnrollmentDateExpired)
    @Html.EditorFor(p => p.Enrollment.EnrollmentDateExpired, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(p => p.Enrollment.EnrollmentDateExpired)
    @Html.LabelFor(p => p.Enrollment.Course.Name)
    @Html.DropDownListFor(p => p.Enrollment.CourseId, new SelectList(Model.Courses, "Id", "Name"), "Select Category Name",
        new { @class = "form-control" })
    <input type="submit" value="Submit" class="btn-primary" />
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>