@model IEnumerable<AsmFinal.Models.Enrollment>
@{
    ViewBag.Title = "Index";
}

<h2> Enrollment</h2>
@if (User.IsInRole("Staff"))
{@Html.ActionLink("Create New", "Create")}

<table class="table">
    <td width="200"><b>Enrollment Name</b></td>
    <td width="200"><b> Enrollment DateStarted </b></td>
    <td width="200"><b>Enrollment DateExpired</b></td>
    <td width="200"><b>Course Name</b></td>
    <td></td>
</table>
@foreach (var p in Model)
{
<table class="table">
    <td class="alignCenter" width="200">@p.Name</td>
    <td class="alignCenter" width="200">@p.EnrollmentDateStarted</td>
    <td class="alignCenter" width="200">@p.EnrollmentDateExpired</td>
    <td class="alignCenter" width="200">@p.Course.Name</td>
    @if (User.IsInRole("Staff"))
    { <td>
    @Html.ActionLink("Edit", "Edit", new { id = p.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = p.Id })
</td>}

</table>

}