@model IEnumerable<AsmFinal.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2> Course</h2>
@Html.ActionLink("Create New", "Create")
<table class="table">

    <td width="200"><b>CourseName</b></td>
    <td width="200"><b>Detail</b></td>
    <td width="200"><b>Category Name</b></td>
    <td></td>
</table>
@foreach (var p in Model)
{
    <table class="table">

        <td class="alignCenter" width="200">@p.Name</td>
        <td class="alignCenter" width="200">@p.Detail</td>
        <td class="alignCenter" width="200">@p.Category.Name</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = p.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = p.Id })
        </td>

    </table>

}