@model IEnumerable<AsmFinal.ViewModel.UserViewModel>
@{
    ViewBag.Title = "Index";
}


<table class="table">
    <td><b>Id</b></td>
    <td><b>User name</b></td>
    <td><b>Email</b></td>
    <td><b>Role Name</b></td>

    
</table>
@foreach (var p in Model)
{
    if (p.Role.Contains("Trainer"))
    {
<table class="table">
    <td width="125">@p.Id</td>
    <td width="390">@p.Username</td>
    <td width="250">@p.Email</td>
    <td>@p.Role</td>
    <td>
        @Html.ActionLink("Edit", "Edit", "Users", new { id = p.Id }) |
        @Html.ActionLink("assign Trainer to Topic", "Assign", "Trainer", new { User = p.Id })
    </td>
</table>
    }
 }