@model IEnumerable<AsmFinal.ViewModel.UserViewModel>
    <div class="row">
        <h4>Users</h4>

        <table class="table">

            <td width="200"><b>Username</b></td>
            <td width="200"><b>Email</b></td>
            <td width="200"><b>Role Name</b></td>
            <td></td>
        </table>
        @foreach (var p in Model)
        {
            if (p.Role.Contains("Trainer"))
            {
                <table class="table">

                    <td width="200">@p.Username</td>
                    <td width="200">@p.Email</td>
                    <td width="200">@p.Role</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Users", new { id = p.Id }) |
                        @Html.ActionLink("Delete", "Delete", "Users", new { id = p.Id })
                    </td>

                </table>

            }
            if (p.Role.Contains("Staff"))
            {
                <table class="table">

                    <td width="200">@p.Username</td>
                    <td width="200">@p.Email</td>
                    <td width="200">@p.Role</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Users", new { id = p.Id }) |
                        @Html.ActionLink("Delete", "Delete", "Users", new { id = p.Id })
                    </td>

                </table>

            }
        }
